

/* h2{
    color: black;
    font-weight: 700;
} */

#uploadIMG {
    background-color: antiquewhite;
    background-image: url("./images/uploadIMG.com.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
} 


/* #location {
    float: left;
} */

/* h2 {
    display: flex;
    margin-left: 10px;
} */

/* textarea {
    background-color: rgb(189, 187, 183);
    padding: 10px;
} */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}